<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Login">
    <test name="LoginTest">
        <parameter name="email" value="vipin@clipboard.com"/>
        <classes>
            <class name="testCase.LoginTest"/>
        </classes>
    </test>
</suite>